/* Global styles */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
}

body .ui-listbox .ui-listbox-header {
  background-color: var(--light);
}

body  {
  background-color: var(--light);
}

.mydialog {
  width: 50vw;
}

@media screen and (max-width: 40em) {
  .mydialog {
    width: 75vw;
  }
}

body .ui-dialog .ui-dialog-content {
  min-height: 250px;
}

body .ui-menubar {
  background-color: var(--light);
}