<div class="row">
  <div class="col-12 col-sm-3 mb-1">
    <cmd-categories-list
      [data]="categories"
      [(selected)]="selectedCategory"
      (selectedChange)="onSelectedCategoryChanged()"
      (addClicked)="onAddCategoryClicked()"
      (editClicked)="onEditCategoryClicked($event)"
    ></cmd-categories-list>
  </div>

  <div class="col-12 col-sm-9">
    <cmd-companies-list
      [data]="companies"
      [total]="page.total"
      [first]="page.first"
      (loaded)="loadData($event)"
      (addClicked)="onAddCompanyClicked()"
      (editClicked)="onEditCompanyClicked($event)"
    ></cmd-companies-list>
  </div>
</div>
