<div class="row mb-5">
  <div class="col-12 col-sm-3 mb-2">
    <cmd-categories-list
      [data]="categories"
      [(selected)]="selectedCategory"
      (selectedChange)="onSelectedCategoryChanged()"
      (addClicked)="onAddCategoryClicked()"
      (editClicked)="onEditCategoryClicked($event)"
    ></cmd-categories-list>
  </div>

  <div class="col-12 col-sm-9">
    <cmd-companies-list
      [data]="companies"
      [total]="page.total"
      [first]="page.first"
      [size]="page.size"
      (loaded)="loadData($event)"
      (addClicked)="onAddCompanyClicked()"
      (editClicked)="onEditCompanyClicked($event)"
      (deleteClicked)="onDeleteCompanyClicked($event)"
    ></cmd-companies-list>
  </div>
</div>


<p-dialog
  header="New Category"
  [visible]="!!categoryModel && !categoryModel.id"
  (visibleChange)="categoryModel = null"
  styleClass="mydialog"
  [baseZIndex]="10000"
>
  <cmd-category-write [model]="categoryModel" (saveClicked)="onAddCategorySubmited($event)">
  </cmd-category-write>
</p-dialog>

<p-dialog
  header="Edit Category {{ categoryModel?.name }}"
  [visible]="!!categoryModel?.id"
  (visibleChange)="categoryModel = null"
  styleClass="mydialog"
  [baseZIndex]="10000"
>
  <cmd-category-write [model]="categoryModel" (saveClicked)="onEditCategorySubmited($event)">
  </cmd-category-write>
</p-dialog>

<p-dialog
  header="New Company"
  [visible]="!!companyModel && !companyModel.id"
  (visibleChange)="clearCompanyModel()"
  styleClass="mydialog"
  [baseZIndex]="10000"
>
  <cmd-company-write [model]="companyModel" (saveClicked)="onAddCompanySubmited($event)">
  </cmd-company-write>
</p-dialog>

<p-dialog
  header="Edit Company {{ companyModel?.name }}"
  [visible]="!!companyModel?.id"
  (visibleChange)="clearCompanyModel()"
  [style]="{ width: '75vw' }"
  styleClass="mydialog"
  [baseZIndex]="10000"
>
  <p-tabView>
    <p-tabPanel header="Details">
      <cmd-company-write [model]="companyModel" (saveClicked)="onEditCompanySubmited($event)">
      </cmd-company-write>
    </p-tabPanel>
    <p-tabPanel header="Categories">
      <cmd-associate-category
        [categories]="categories"
        [company]="companyModel"
        (associate)="onAssociateCategoryClicked($event)"
      >
      </cmd-associate-category>
    </p-tabPanel>
  </p-tabView>
</p-dialog>
