<p-dataView
  [value]="data"
  [paginator]="true"
  [first]="first"
  [rows]="10"
  [lazy]="true"
  (onLazyLoad)="loadData($event)"
  [totalRecords]="total"
  [layout]="'grid'"
  [paginatorPosition]="'both'"
>
  <p-header>
    Companies
  </p-header>
  <ng-template let-item pTemplate="gridItem">
    <div style="padding:.5em" class="ui-g-12 {{ total % 3 === 0 ? 'ui-md-4' : 'ui-md-3' }}">
      <p-panel [header]="item.name" [style]="{ 'text-align': 'center' }">
        <img [attr.src]="item.logoUrl" width="60" />
        <div class="text-muted">{{ item.email }}</div>
        <hr class="ui-widget-content" style="border-top:0" />
        <button class="btn btn-sm btn-primary mt-0" (click)="onExploreClicked(item)">
          <i class="pi pi-pencil"></i>
        </button>
      </p-panel>
    </div>
  </ng-template>
</p-dataView>
